{% extends "blog/base.html" %}
{% block content %}
    <h1> About The Blog</h1>
    <p>
    The Flumoo blog is an extension of the dashboard site. It allows for user discussion on topics
        rendered from the data, as well as, information that may not neccesarily fit
        the Flumoo dashboard site. A wide array of topics are posted on the Flumoo blog. These include
        interpretations of the data, outside information relating to various firms or securities,
        and subjects like politics or economics that are relevant, yet outside the scope of the main
        Flumoo Dashboard site. </p>
    <p>
        The dashboard is meant to serve as the main backbone of the website, while
        the blog is meant to serve as a forum for members to discuss the dasboard and add information
        that might be relevant, but not included in the dashboard.
    </p>
    <h3>
        Topics Found On The Blog
    </h3>
    <li>    Data interpretations</li>
    <li>    Corporate Tax Information</li>
    <li>    Corporate News</li>
    <li>    Political Analysis</li>
    <li>    Economic Analysis</li>
    <li>    Security Predictions</li>
    <li>    Currency Information</li>
    <li>    Educational Content </li>
    <li>    Opinion Pieces/Editorials </li>
<p></p>
<p style="color: white;">.</p>


    <h2 style="text-align:right;">
        Guidelines
    </h2>
    <p style="text-align:right;">
    Free expression of views is encouraged and an open array of topics are welcomed to be discussed.
    Flumoo seeks to be a place of learning and research. An online written community like Flumoo Blog
        probably functions the best while adhering to some best practices:</p>
<p> </p>
<p style="color: white;">.</p>
<p style="text-align:right;"> concise, edited writing entries </p>
<p style="text-align:right;">data-driven anaylsis</p>
<p style="text-align:right;">verifiable sources</p>
<p style="text-align:right;">visualizations and graphs</p>
<p style="text-align:right;"> non-trivial content</p>
<p style="text-align:right;"> Flumoo-related</p>
<p> </p>
<p style="color: white;">.</p>




{% endblock content %}



