{% extends "momma/base.html" %}
{% block content %}


  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Average Volume </h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button type="button"
                  class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
      </div>
    </div>


          {% load static %}
      <img style="float:right;" src="{% static 'mommaapp/images/average_volume.png' %}" alt="Flumoo">


    <p>MAX 171957318</p>
<p>MIN 0</p>
<p>MEAN 5017025.819801981</p>
<p>MEDIAN 2032289.0</p>
<p>STAN DEV 11507552.715782704</p>
<p>VAR 132423769506517.89</p>
<p>SKEW 8.327143980832194</p>
<p>KURTOSIS 98.18615144222741</p>
<p>RANGE 171957318.0</p>



      <div class="table-responsive">
        <table class="table table-striped table-sm">




  <thead>
    <tr style="text-align: left;">
      <th></th>
      <th>TICKER NAME</th>
      <th> AVERAGE VOLUME</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>MMM</td>
      <td>2564426</td>
    </tr>
    <tr>
      <th>1</th>
      <td>ABT</td>
      <td>5208318</td>
    </tr>
    <tr>
      <th>2</th>
      <td>ABBV</td>
      <td>6954250</td>
    </tr>
    <tr>
      <th>3</th>
      <td>ABMD</td>
      <td>332206</td>
    </tr>
    <tr>
      <th>4</th>
      <td>ACN</td>
      <td>1834039</td>
    </tr>
    <tr>
      <th>5</th>
      <td>ATVI</td>
      <td>6494160</td>
    </tr>
    <tr>
      <th>6</th>
      <td>ADBE</td>
      <td>3030845</td>
    </tr>
    <tr>
      <th>7</th>
      <td>AMD</td>
      <td>61435218</td>
    </tr>
    <tr>
      <th>8</th>
      <td>AAP</td>
      <td>816565</td>
    </tr>
    <tr>
      <th>9</th>
      <td>AES</td>
      <td>5250206</td>
    </tr>
    <tr>
      <th>10</th>
      <td>AFL</td>
      <td>3513601</td>
    </tr>
    <tr>
      <th>11</th>
      <td>A</td>
      <td>1376959</td>
    </tr>
    <tr>
      <th>12</th>
      <td>APD</td>
      <td>1082404</td>
    </tr>
    <tr>
      <th>13</th>
      <td>AKAM</td>
      <td>1605128</td>
    </tr>
    <tr>
      <th>14</th>
      <td>ALK</td>
      <td>2374529</td>
    </tr>
    <tr>
      <th>15</th>
      <td>ALB</td>
      <td>1159684</td>
    </tr>
    <tr>
      <th>16</th>
      <td>ARE</td>
      <td>803215</td>
    </tr>
    <tr>
      <th>17</th>
      <td>ALXN</td>
      <td>1879267</td>
    </tr>
    <tr>
      <th>18</th>
      <td>ALGN</td>
      <td>724479</td>
    </tr>
    <tr>
      <th>19</th>
      <td>ALLE</td>
      <td>690050</td>
    </tr>
    <tr>
      <th>20</th>
      <td>LNT</td>
      <td>1344634</td>
    </tr>
    <tr>
      <th>21</th>
      <td>ALL</td>
      <td>1982478</td>
    </tr>
    <tr>
      <th>22</th>
      <td>GOOGL</td>
      <td>1786676</td>
    </tr>
    <tr>
      <th>23</th>
      <td>GOOG</td>
      <td>1794073</td>
    </tr>
    <tr>
      <th>24</th>
      <td>MO</td>
      <td>7615101</td>
    </tr>
    <tr>
      <th>25</th>
      <td>AMZN</td>
      <td>5102656</td>
    </tr>
    <tr>
      <th>26</th>
      <td>AMCR</td>
      <td>7614796</td>
    </tr>
    <tr>
      <th>27</th>
      <td>AEE</td>
      <td>1222957</td>
    </tr>
    <tr>
      <th>28</th>
      <td>AAL</td>
      <td>68753148</td>
    </tr>
    <tr>
      <th>29</th>
      <td>AEP</td>
      <td>2990512</td>
    </tr>
    <tr>
      <th>30</th>
      <td>AXP</td>
      <td>4146937</td>
    </tr>
    <tr>
      <th>31</th>
      <td>AIG</td>
      <td>6806959</td>
    </tr>
    <tr>
      <th>32</th>
      <td>AMT</td>
      <td>1593837</td>
    </tr>
    <tr>
      <th>33</th>
      <td>AWK</td>
      <td>718571</td>
    </tr>
    <tr>
      <th>34</th>
      <td>AMP</td>
      <td>679503</td>
    </tr>
    <tr>
      <th>35</th>
      <td>ABC</td>
      <td>907200</td>
    </tr>
    <tr>
      <th>36</th>
      <td>AME</td>
      <td>1000184</td>
    </tr>
    <tr>
      <th>37</th>
      <td>AMGN</td>
      <td>2582960</td>
    </tr>
    <tr>
      <th>38</th>
      <td>APH</td>
      <td>1343068</td>
    </tr>
    <tr>
      <th>39</th>
      <td>ADI</td>
      <td>3360314</td>
    </tr>
    <tr>
      <th>40</th>
      <td>ANSS</td>
      <td>396612</td>
    </tr>
    <tr>
      <th>41</th>
      <td>ANTM</td>
      <td>1169114</td>
    </tr>
    <tr>
      <th>42</th>
      <td>AON</td>
      <td>1468815</td>
    </tr>
    <tr>
      <th>43</th>
      <td>AOS</td>
      <td>1029887</td>
    </tr>
    <tr>
      <th>44</th>
      <td>APA</td>
      <td>9443526</td>
    </tr>
    <tr>
      <th>45</th>
      <td>AIV</td>
      <td>1221496</td>
    </tr>
    <tr>
      <th>46</th>
      <td>AAPL</td>
      <td>171957318</td>
    </tr>
    <tr>
      <th>47</th>
      <td>AMAT</td>
      <td>7670512</td>
    </tr>
    <tr>
      <th>48</th>
      <td>APTV</td>
      <td>1568017</td>
    </tr>
    <tr>
      <th>49</th>
      <td>ADM</td>
      <td>2699843</td>
    </tr>
    <tr>
      <th>50</th>
      <td>ANET</td>
      <td>708412</td>
    </tr>
    <tr>
      <th>51</th>
      <td>AJG</td>
      <td>836007</td>
    </tr>
    <tr>
      <th>52</th>
      <td>AIZ</td>
      <td>369778</td>
    </tr>
    <tr>
      <th>53</th>
      <td>T</td>
      <td>33117375</td>
    </tr>
    <tr>
      <th>54</th>
      <td>ATO</td>
      <td>800176</td>
    </tr>
    <tr>
      <th>55</th>
      <td>ADSK</td>
      <td>1293492</td>
    </tr>
    <tr>
      <th>56</th>
      <td>ADP</td>
      <td>2060625</td>
    </tr>
    <tr>
      <th>57</th>
      <td>AZO</td>
      <td>191357</td>
    </tr>
    <tr>
      <th>58</th>
      <td>AVB</td>
      <td>982623</td>
    </tr>
    <tr>
      <th>59</th>
      <td>AVY</td>
      <td>584392</td>
    </tr>
    <tr>
      <th>60</th>
      <td>BKR</td>
      <td>6401298</td>
    </tr>
    <tr>
      <th>61</th>
      <td>BLL</td>
      <td>1752339</td>
    </tr>
    <tr>
      <th>62</th>
      <td>BAC</td>
      <td>60172706</td>
    </tr>
    <tr>
      <th>63</th>
      <td>BK</td>
      <td>4917110</td>
    </tr>
    <tr>
      <th>64</th>
      <td>BAX</td>
      <td>3078121</td>
    </tr>
    <tr>
      <th>65</th>
      <td>BDX</td>
      <td>1558482</td>
    </tr>
    <tr>
      <th>66</th>
      <td>BRK.B</td>
      <td>0</td>
    </tr>
    <tr>
      <th>67</th>
      <td>BBY</td>
      <td>2434468</td>
    </tr>
    <tr>
      <th>68</th>
      <td>BIO</td>
      <td>179879</td>
    </tr>
    <tr>
      <th>69</th>
      <td>BIIB</td>
      <td>1229390</td>
    </tr>
    <tr>
      <th>70</th>
      <td>BLK</td>
      <td>626895</td>
    </tr>
    <tr>
      <th>71</th>
      <td>BA</td>
      <td>30894867</td>
    </tr>
    <tr>
      <th>72</th>
      <td>BKNG</td>
      <td>350737</td>
    </tr>
    <tr>
      <th>73</th>
      <td>BWA</td>
      <td>2639179</td>
    </tr>
    <tr>
      <th>74</th>
      <td>BXP</td>
      <td>1330134</td>
    </tr>
    <tr>
      <th>75</th>
      <td>BSX</td>
      <td>7863067</td>
    </tr>
    <tr>
      <th>76</th>
      <td>BMY</td>
      <td>9958889</td>
    </tr>
    <tr>
      <th>77</th>
      <td>AVGO</td>
      <td>1893567</td>
    </tr>
    <tr>
      <th>78</th>
      <td>BR</td>
      <td>502932</td>
    </tr>
    <tr>
      <th>79</th>
      <td>BF.B</td>
      <td>0</td>
    </tr>
    <tr>
      <th>80</th>
      <td>CHRW</td>
      <td>1490375</td>
    </tr>
    <tr>
      <th>81</th>
      <td>COG</td>
      <td>4587331</td>
    </tr>
    <tr>
      <th>82</th>
      <td>CDNS</td>
      <td>1633451</td>
    </tr>
    <tr>
      <th>83</th>
      <td>CPB</td>
      <td>2218292</td>
    </tr>
    <tr>
      <th>84</th>
      <td>COF</td>
      <td>3069151</td>
    </tr>
    <tr>
      <th>85</th>
      <td>CAH</td>
      <td>2268935</td>
    </tr>
    <tr>
      <th>86</th>
      <td>KMX</td>
      <td>1258860</td>
    </tr>
    <tr>
      <th>87</th>
      <td>CCL</td>
      <td>36930329</td>
    </tr>
    <tr>
      <th>88</th>
      <td>CARR</td>
      <td>5230704</td>
    </tr>
    <tr>
      <th>89</th>
      <td>CAT</td>
      <td>3117542</td>
    </tr>
    <tr>
      <th>90</th>
      <td>CBOE</td>
      <td>808075</td>
    </tr>
    <tr>
      <th>91</th>
      <td>CBRE</td>
      <td>1578581</td>
    </tr>
    <tr>
      <th>92</th>
      <td>CDW</td>
      <td>808357</td>
    </tr>
    <tr>
      <th>93</th>
      <td>CE</td>
      <td>821381</td>
    </tr>
    <tr>
      <th>94</th>
      <td>CNC</td>
      <td>3297164</td>
    </tr>
    <tr>
      <th>95</th>
      <td>CNP</td>
      <td>5955554</td>
    </tr>
    <tr>
      <th>96</th>
      <td>CERN</td>
      <td>1657867</td>
    </tr>
    <tr>
      <th>97</th>
      <td>CF</td>
      <td>2421437</td>
    </tr>
    <tr>
      <th>98</th>
      <td>SCHW</td>
      <td>8784407</td>
    </tr>
    <tr>
      <th>99</th>
      <td>CHTR</td>
      <td>914748</td>
    </tr>
    <tr>
      <th>100</th>
      <td>CVX</td>
      <td>9463339</td>
    </tr>
    <tr>
      <th>101</th>
      <td>CMG</td>
      <td>323467</td>
    </tr>
    <tr>
      <th>102</th>
      <td>CB</td>
      <td>1662089</td>
    </tr>
    <tr>
      <th>103</th>
      <td>CHD</td>
      <td>1442087</td>
    </tr>
    <tr>
      <th>104</th>
      <td>CI</td>
      <td>1945229</td>
    </tr>
    <tr>
      <th>105</th>
      <td>CINF</td>
      <td>943098</td>
    </tr>
    <tr>
      <th>106</th>
      <td>CTAS</td>
      <td>471821</td>
    </tr>
    <tr>
      <th>107</th>
      <td>CSCO</td>
      <td>22239879</td>
    </tr>
    <tr>
      <th>108</th>
      <td>C</td>
      <td>23061575</td>
    </tr>
    <tr>
      <th>109</th>
      <td>CFG</td>
      <td>5407734</td>
    </tr>
    <tr>
      <th>110</th>
      <td>CTXS</td>
      <td>1515940</td>
    </tr>
    <tr>
      <th>111</th>
      <td>CLX</td>
      <td>1396034</td>
    </tr>
    <tr>
      <th>112</th>
      <td>CME</td>
      <td>1643089</td>
    </tr>
    <tr>
      <th>113</th>
      <td>CMS</td>
      <td>1809534</td>
    </tr>
    <tr>
      <th>114</th>
      <td>KO</td>
      <td>15253504</td>
    </tr>
    <tr>
      <th>115</th>
      <td>CTSH</td>
      <td>2880303</td>
    </tr>
    <tr>
      <th>116</th>
      <td>CL</td>
      <td>3210706</td>
    </tr>
    <tr>
      <th>117</th>
      <td>CMCSA</td>
      <td>17621242</td>
    </tr>
    <tr>
      <th>118</th>
      <td>CMA</td>
      <td>1574876</td>
    </tr>
    <tr>
      <th>119</th>
      <td>CAG</td>
      <td>2834787</td>
    </tr>
    <tr>
      <th>120</th>
      <td>CXO</td>
      <td>1945578</td>
    </tr>
    <tr>
      <th>121</th>
      <td>COP</td>
      <td>6909154</td>
    </tr>
    <tr>
      <th>122</th>
      <td>ED</td>
      <td>2241892</td>
    </tr>
    <tr>
      <th>123</th>
      <td>STZ</td>
      <td>1098459</td>
    </tr>
    <tr>
      <th>124</th>
      <td>COO</td>
      <td>337825</td>
    </tr>
    <tr>
      <th>125</th>
      <td>CPRT</td>
      <td>1381796</td>
    </tr>
    <tr>
      <th>126</th>
      <td>GLW</td>
      <td>4837164</td>
    </tr>
    <tr>
      <th>127</th>
      <td>CTVA</td>
      <td>4471037</td>
    </tr>
    <tr>
      <th>128</th>
      <td>COST</td>
      <td>2249895</td>
    </tr>
    <tr>
      <th>129</th>
      <td>COTY</td>
      <td>13289373</td>
    </tr>
    <tr>
      <th>130</th>
      <td>CCI</td>
      <td>1905689</td>
    </tr>
    <tr>
      <th>131</th>
      <td>CSX</td>
      <td>3568090</td>
    </tr>
    <tr>
      <th>132</th>
      <td>CMI</td>
      <td>988003</td>
    </tr>
    <tr>
      <th>133</th>
      <td>CVS</td>
      <td>7557351</td>
    </tr>
    <tr>
      <th>134</th>
      <td>DHI</td>
      <td>3515951</td>
    </tr>
    <tr>
      <th>135</th>
      <td>DHR</td>
      <td>2094414</td>
    </tr>
    <tr>
      <th>136</th>
      <td>DRI</td>
      <td>2311206</td>
    </tr>
    <tr>
      <th>137</th>
      <td>DVA</td>
      <td>1061312</td>
    </tr>
    <tr>
      <th>138</th>
      <td>DE</td>
      <td>1585479</td>
    </tr>
    <tr>
      <th>139</th>
      <td>DAL</td>
      <td>24001779</td>
    </tr>
    <tr>
      <th>140</th>
      <td>XRAY</td>
      <td>1526890</td>
    </tr>
    <tr>
      <th>141</th>
      <td>DVN</td>
      <td>8388670</td>
    </tr>
    <tr>
      <th>142</th>
      <td>DXCM</td>
      <td>836207</td>
    </tr>
    <tr>
      <th>143</th>
      <td>FANG</td>
      <td>2453385</td>
    </tr>
    <tr>
      <th>144</th>
      <td>DLR</td>
      <td>1434621</td>
    </tr>
    <tr>
      <th>145</th>
      <td>DFS</td>
      <td>3307173</td>
    </tr>
    <tr>
      <th>146</th>
      <td>DISCA</td>
      <td>4003210</td>
    </tr>
    <tr>
      <th>147</th>
      <td>DISCK</td>
      <td>2487151</td>
    </tr>
    <tr>
      <th>148</th>
      <td>DISH</td>
      <td>2615257</td>
    </tr>
    <tr>
      <th>149</th>
      <td>DG</td>
      <td>1822856</td>
    </tr>
    <tr>
      <th>150</th>
      <td>DLTR</td>
      <td>2113545</td>
    </tr>
    <tr>
      <th>151</th>
      <td>D</td>
      <td>4291965</td>
    </tr>
    <tr>
      <th>152</th>
      <td>DPZ</td>
      <td>591496</td>
    </tr>
    <tr>
      <th>153</th>
      <td>DOV</td>
      <td>743768</td>
    </tr>
    <tr>
      <th>154</th>
      <td>DOW</td>
      <td>4391490</td>
    </tr>
    <tr>
      <th>155</th>
      <td>DTE</td>
      <td>1039237</td>
    </tr>
    <tr>
      <th>156</th>
      <td>DUK</td>
      <td>3353129</td>
    </tr>
    <tr>
      <th>157</th>
      <td>DRE</td>
      <td>1896917</td>
    </tr>
    <tr>
      <th>158</th>
      <td>DD</td>
      <td>4084153</td>
    </tr>
    <tr>
      <th>159</th>
      <td>DXC</td>
      <td>3236909</td>
    </tr>
    <tr>
      <th>160</th>
      <td>ETFC</td>
      <td>1971204</td>
    </tr>
    <tr>
      <th>161</th>
      <td>EMN</td>
      <td>1010893</td>
    </tr>
    <tr>
      <th>162</th>
      <td>ETN</td>
      <td>1580593</td>
    </tr>
    <tr>
      <th>163</th>
      <td>EBAY</td>
      <td>8989901</td>
    </tr>
    <tr>
      <th>164</th>
      <td>ECL</td>
      <td>1163379</td>
    </tr>
    <tr>
      <th>165</th>
      <td>EIX</td>
      <td>2358053</td>
    </tr>
    <tr>
      <th>166</th>
      <td>EW</td>
      <td>2602273</td>
    </tr>
    <tr>
      <th>167</th>
      <td>EA</td>
      <td>2066593</td>
    </tr>
    <tr>
      <th>168</th>
      <td>EMR</td>
      <td>2580971</td>
    </tr>
    <tr>
      <th>169</th>
      <td>ETR</td>
      <td>1072095</td>
    </tr>
    <tr>
      <th>170</th>
      <td>EOG</td>
      <td>4196832</td>
    </tr>
    <tr>
      <th>171</th>
      <td>EFX</td>
      <td>776810</td>
    </tr>
    <tr>
      <th>172</th>
      <td>EQIX</td>
      <td>346226</td>
    </tr>
    <tr>
      <th>173</th>
      <td>EQR</td>
      <td>2606650</td>
    </tr>
    <tr>
      <th>174</th>
      <td>ESS</td>
      <td>413459</td>
    </tr>
    <tr>
      <th>175</th>
      <td>EL</td>
      <td>1193045</td>
    </tr>
    <tr>
      <th>176</th>
      <td>EVRG</td>
      <td>2111567</td>
    </tr>
    <tr>
      <th>177</th>
      <td>ES</td>
      <td>1362909</td>
    </tr>
    <tr>
      <th>178</th>
      <td>RE</td>
      <td>254987</td>
    </tr>
    <tr>
      <th>179</th>
      <td>EXC</td>
      <td>5542670</td>
    </tr>
    <tr>
      <th>180</th>
      <td>EXPE</td>
      <td>2890410</td>
    </tr>
    <tr>
      <th>181</th>
      <td>EXPD</td>
      <td>1060725</td>
    </tr>
    <tr>
      <th>182</th>
      <td>EXR</td>
      <td>809078</td>
    </tr>
    <tr>
      <th>183</th>
      <td>XOM</td>
      <td>23181587</td>
    </tr>
    <tr>
      <th>184</th>
      <td>FFIV</td>
      <td>790532</td>
    </tr>
    <tr>
      <th>185</th>
      <td>FB</td>
      <td>25674448</td>
    </tr>
    <tr>
      <th>186</th>
      <td>FAST</td>
      <td>3698929</td>
    </tr>
    <tr>
      <th>187</th>
      <td>FRT</td>
      <td>655653</td>
    </tr>
    <tr>
      <th>188</th>
      <td>FDX</td>
      <td>3653620</td>
    </tr>
    <tr>
      <th>189</th>
      <td>FIS</td>
      <td>3116360</td>
    </tr>
    <tr>
      <th>190</th>
      <td>FITB</td>
      <td>5837718</td>
    </tr>
    <tr>
      <th>191</th>
      <td>FE</td>
      <td>9858184</td>
    </tr>
    <tr>
      <th>192</th>
      <td>FRC</td>
      <td>725520</td>
    </tr>
    <tr>
      <th>193</th>
      <td>FISV</td>
      <td>4851887</td>
    </tr>
    <tr>
      <th>194</th>
      <td>FLT</td>
      <td>670562</td>
    </tr>
    <tr>
      <th>195</th>
      <td>FLIR</td>
      <td>1451493</td>
    </tr>
    <tr>
      <th>196</th>
      <td>FLS</td>
      <td>982257</td>
    </tr>
    <tr>
      <th>197</th>
      <td>FMC</td>
      <td>635820</td>
    </tr>
    <tr>
      <th>198</th>
      <td>F</td>
      <td>63549139</td>
    </tr>
    <tr>
      <th>199</th>
      <td>FTNT</td>
      <td>1421196</td>
    </tr>
    <tr>
      <th>200</th>
      <td>FTV</td>
      <td>2739675</td>
    </tr>
    <tr>
      <th>201</th>
      <td>FBHS</td>
      <td>1041214</td>
    </tr>
    <tr>
      <th>202</th>
      <td>FOXA</td>
      <td>4477242</td>
    </tr>
    <tr>
      <th>203</th>
      <td>FOX</td>
      <td>1294384</td>
    </tr>
    <tr>
      <th>204</th>
      <td>BEN</td>
      <td>3125809</td>
    </tr>
    <tr>
      <th>205</th>
      <td>FCX</td>
      <td>20655629</td>
    </tr>
    <tr>
      <th>206</th>
      <td>GPS</td>
      <td>11230325</td>
    </tr>
    <tr>
      <th>207</th>
      <td>GRMN</td>
      <td>845742</td>
    </tr>
    <tr>
      <th>208</th>
      <td>IT</td>
      <td>392523</td>
    </tr>
    <tr>
      <th>209</th>
      <td>GD</td>
      <td>1153460</td>
    </tr>
    <tr>
      <th>210</th>
      <td>GE</td>
      <td>89104365</td>
    </tr>
    <tr>
      <th>211</th>
      <td>GIS</td>
      <td>3374570</td>
    </tr>
    <tr>
      <th>212</th>
      <td>GM</td>
      <td>14497854</td>
    </tr>
    <tr>
      <th>213</th>
      <td>GPC</td>
      <td>745470</td>
    </tr>
    <tr>
      <th>214</th>
      <td>GILD</td>
      <td>8678996</td>
    </tr>
    <tr>
      <th>215</th>
      <td>GL</td>
      <td>500135</td>
    </tr>
    <tr>
      <th>216</th>
      <td>GPN</td>
      <td>1834546</td>
    </tr>
    <tr>
      <th>217</th>
      <td>GS</td>
      <td>3461109</td>
    </tr>
    <tr>
      <th>218</th>
      <td>GWW</td>
      <td>309850</td>
    </tr>
    <tr>
      <th>219</th>
      <td>HRB</td>
      <td>4351020</td>
    </tr>
    <tr>
      <th>220</th>
      <td>HAL</td>
      <td>14736321</td>
    </tr>
    <tr>
      <th>221</th>
      <td>HBI</td>
      <td>6584565</td>
    </tr>
    <tr>
      <th>222</th>
      <td>HIG</td>
      <td>2181725</td>
    </tr>
    <tr>
      <th>223</th>
      <td>HAS</td>
      <td>886685</td>
    </tr>
    <tr>
      <th>224</th>
      <td>HCA</td>
      <td>1881740</td>
    </tr>
    <tr>
      <th>225</th>
      <td>PEAK</td>
      <td>3529748</td>
    </tr>
    <tr>
      <th>226</th>
      <td>HSIC</td>
      <td>1293503</td>
    </tr>
    <tr>
      <th>227</th>
      <td>HSY</td>
      <td>988685</td>
    </tr>
    <tr>
      <th>228</th>
      <td>HES</td>
      <td>2226407</td>
    </tr>
    <tr>
      <th>229</th>
      <td>HPE</td>
      <td>10541735</td>
    </tr>
    <tr>
      <th>230</th>
      <td>HLT</td>
      <td>2883701</td>
    </tr>
    <tr>
      <th>231</th>
      <td>HFC</td>
      <td>2718992</td>
    </tr>
    <tr>
      <th>232</th>
      <td>HOLX</td>
      <td>2322404</td>
    </tr>
    <tr>
      <th>233</th>
      <td>HD</td>
      <td>3483835</td>
    </tr>
    <tr>
      <th>234</th>
      <td>HON</td>
      <td>3252257</td>
    </tr>
    <tr>
      <th>235</th>
      <td>HRL</td>
      <td>1561337</td>
    </tr>
    <tr>
      <th>236</th>
      <td>HST</td>
      <td>9834092</td>
    </tr>
    <tr>
      <th>237</th>
      <td>HWM</td>
      <td>2866048</td>
    </tr>
    <tr>
      <th>238</th>
      <td>HPQ</td>
      <td>11036740</td>
    </tr>
    <tr>
      <th>239</th>
      <td>HUM</td>
      <td>659103</td>
    </tr>
    <tr>
      <th>240</th>
      <td>HBAN</td>
      <td>9481278</td>
    </tr>
    <tr>
      <th>241</th>
      <td>HII</td>
      <td>391207</td>
    </tr>
    <tr>
      <th>242</th>
      <td>IEX</td>
      <td>360017</td>
    </tr>
    <tr>
      <th>243</th>
      <td>IDXX</td>
      <td>437464</td>
    </tr>
    <tr>
      <th>244</th>
      <td>INFO</td>
      <td>1852692</td>
    </tr>
    <tr>
      <th>245</th>
      <td>ITW</td>
      <td>945051</td>
    </tr>
    <tr>
      <th>246</th>
      <td>ILMN</td>
      <td>1290946</td>
    </tr>
    <tr>
      <th>247</th>
      <td>INCY</td>
      <td>1188887</td>
    </tr>
    <tr>
      <th>248</th>
      <td>IR</td>
      <td>2563110</td>
    </tr>
    <tr>
      <th>249</th>
      <td>INTC</td>
      <td>33796093</td>
    </tr>
    <tr>
      <th>250</th>
      <td>ICE</td>
      <td>3008832</td>
    </tr>
    <tr>
      <th>251</th>
      <td>IBM</td>
      <td>4304310</td>
    </tr>
    <tr>
      <th>252</th>
      <td>IP</td>
      <td>2903570</td>
    </tr>
    <tr>
      <th>253</th>
      <td>IPG</td>
      <td>3822082</td>
    </tr>
    <tr>
      <th>254</th>
      <td>IFF</td>
      <td>813423</td>
    </tr>
    <tr>
      <th>255</th>
      <td>INTU</td>
      <td>1254659</td>
    </tr>
    <tr>
      <th>256</th>
      <td>ISRG</td>
      <td>623676</td>
    </tr>
    <tr>
      <th>257</th>
      <td>IVZ</td>
      <td>6154800</td>
    </tr>
    <tr>
      <th>258</th>
      <td>IPGP</td>
      <td>306723</td>
    </tr>
    <tr>
      <th>259</th>
      <td>IQV</td>
      <td>1008535</td>
    </tr>
    <tr>
      <th>260</th>
      <td>IRM</td>
      <td>2645398</td>
    </tr>
    <tr>
      <th>261</th>
      <td>JKHY</td>
      <td>566159</td>
    </tr>
    <tr>
      <th>262</th>
      <td>J</td>
      <td>763259</td>
    </tr>
    <tr>
      <th>263</th>
      <td>JBHT</td>
      <td>826389</td>
    </tr>
    <tr>
      <th>264</th>
      <td>SJM</td>
      <td>822676</td>
    </tr>
    <tr>
      <th>265</th>
      <td>JNJ</td>
      <td>6005596</td>
    </tr>
    <tr>
      <th>266</th>
      <td>JCI</td>
      <td>4816709</td>
    </tr>
    <tr>
      <th>267</th>
      <td>JPM</td>
      <td>17992329</td>
    </tr>
    <tr>
      <th>268</th>
      <td>JNPR</td>
      <td>3187201</td>
    </tr>
    <tr>
      <th>269</th>
      <td>KSU</td>
      <td>1019342</td>
    </tr>
    <tr>
      <th>270</th>
      <td>K</td>
      <td>2019631</td>
    </tr>
    <tr>
      <th>271</th>
      <td>KEY</td>
      <td>9141635</td>
    </tr>
    <tr>
      <th>272</th>
      <td>KEYS</td>
      <td>1572596</td>
    </tr>
    <tr>
      <th>273</th>
      <td>KMB</td>
      <td>1428454</td>
    </tr>
    <tr>
      <th>274</th>
      <td>KIM</td>
      <td>5131815</td>
    </tr>
    <tr>
      <th>275</th>
      <td>KMI</td>
      <td>12441609</td>
    </tr>
    <tr>
      <th>276</th>
      <td>KLAC</td>
      <td>1244993</td>
    </tr>
    <tr>
      <th>277</th>
      <td>KSS</td>
      <td>9200596</td>
    </tr>
    <tr>
      <th>278</th>
      <td>KHC</td>
      <td>6174514</td>
    </tr>
    <tr>
      <th>279</th>
      <td>KR</td>
      <td>8258231</td>
    </tr>
    <tr>
      <th>280</th>
      <td>LB</td>
      <td>5948339</td>
    </tr>
    <tr>
      <th>281</th>
      <td>LHX</td>
      <td>1369415</td>
    </tr>
    <tr>
      <th>282</th>
      <td>LH</td>
      <td>778270</td>
    </tr>
    <tr>
      <th>283</th>
      <td>LRCX</td>
      <td>1742921</td>
    </tr>
    <tr>
      <th>284</th>
      <td>LW</td>
      <td>1035164</td>
    </tr>
    <tr>
      <th>285</th>
      <td>LVS</td>
      <td>5990618</td>
    </tr>
    <tr>
      <th>286</th>
      <td>LEG</td>
      <td>1201246</td>
    </tr>
    <tr>
      <th>287</th>
      <td>LDOS</td>
      <td>1038287</td>
    </tr>
    <tr>
      <th>288</th>
      <td>LEN</td>
      <td>2762729</td>
    </tr>
    <tr>
      <th>289</th>
      <td>LLY</td>
      <td>2995360</td>
    </tr>
    <tr>
      <th>290</th>
      <td>LNC</td>
      <td>1903534</td>
    </tr>
    <tr>
      <th>291</th>
      <td>LIN</td>
      <td>1847878</td>
    </tr>
    <tr>
      <th>292</th>
      <td>LYV</td>
      <td>2397032</td>
    </tr>
    <tr>
      <th>293</th>
      <td>LKQ</td>
      <td>2752329</td>
    </tr>
    <tr>
      <th>294</th>
      <td>LMT</td>
      <td>1195039</td>
    </tr>
    <tr>
      <th>295</th>
      <td>L</td>
      <td>914367</td>
    </tr>
    <tr>
      <th>296</th>
      <td>LOW</td>
      <td>3898609</td>
    </tr>
    <tr>
      <th>297</th>
      <td>LUMN</td>
      <td>8047100</td>
    </tr>
    <tr>
      <th>298</th>
      <td>LYB</td>
      <td>2037026</td>
    </tr>
    <tr>
      <th>299</th>
      <td>MTB</td>
      <td>791823</td>
    </tr>
    <tr>
      <th>300</th>
      <td>MRO</td>
      <td>25117703</td>
    </tr>
    <tr>
      <th>301</th>
      <td>MPC</td>
      <td>7610531</td>
    </tr>
    <tr>
      <th>302</th>
      <td>MKTX</td>
      <td>203275</td>
    </tr>
    <tr>
      <th>303</th>
      <td>MAR</td>
      <td>3166303</td>
    </tr>
    <tr>
      <th>304</th>
      <td>MMC</td>
      <td>1589359</td>
    </tr>
    <tr>
      <th>305</th>
      <td>MLM</td>
      <td>572134</td>
    </tr>
    <tr>
      <th>306</th>
      <td>MAS</td>
      <td>1975262</td>
    </tr>
    <tr>
      <th>307</th>
      <td>MA</td>
      <td>3670892</td>
    </tr>
    <tr>
      <th>308</th>
      <td>MKC</td>
      <td>503870</td>
    </tr>
    <tr>
      <th>309</th>
      <td>MXIM</td>
      <td>3957717</td>
    </tr>
    <tr>
      <th>310</th>
      <td>MCD</td>
      <td>2940087</td>
    </tr>
    <tr>
      <th>311</th>
      <td>MCK</td>
      <td>1061240</td>
    </tr>
    <tr>
      <th>312</th>
      <td>MDT</td>
      <td>4602060</td>
    </tr>
    <tr>
      <th>313</th>
      <td>MRK</td>
      <td>7848973</td>
    </tr>
    <tr>
      <th>314</th>
      <td>MET</td>
      <td>5452165</td>
    </tr>
    <tr>
      <th>315</th>
      <td>MTD</td>
      <td>102389</td>
    </tr>
    <tr>
      <th>316</th>
      <td>MGM</td>
      <td>19493434</td>
    </tr>
    <tr>
      <th>317</th>
      <td>MCHP</td>
      <td>2382401</td>
    </tr>
    <tr>
      <th>318</th>
      <td>MU</td>
      <td>19217415</td>
    </tr>
    <tr>
      <th>319</th>
      <td>MSFT</td>
      <td>34908282</td>
    </tr>
    <tr>
      <th>320</th>
      <td>MAA</td>
      <td>537218</td>
    </tr>
    <tr>
      <th>321</th>
      <td>MHK</td>
      <td>1162254</td>
    </tr>
    <tr>
      <th>322</th>
      <td>TAP</td>
      <td>2085670</td>
    </tr>
    <tr>
      <th>323</th>
      <td>MDLZ</td>
      <td>5914510</td>
    </tr>
    <tr>
      <th>324</th>
      <td>MNST</td>
      <td>2032289</td>
    </tr>
    <tr>
      <th>325</th>
      <td>MCO</td>
      <td>625356</td>
    </tr>
    <tr>
      <th>326</th>
      <td>MS</td>
      <td>9618393</td>
    </tr>
    <tr>
      <th>327</th>
      <td>MOS</td>
      <td>4695632</td>
    </tr>
    <tr>
      <th>328</th>
      <td>MSI</td>
      <td>1207289</td>
    </tr>
    <tr>
      <th>329</th>
      <td>MSCI</td>
      <td>469809</td>
    </tr>
    <tr>
      <th>330</th>
      <td>MYL</td>
      <td>5011668</td>
    </tr>
    <tr>
      <th>331</th>
      <td>NDAQ</td>
      <td>694012</td>
    </tr>
    <tr>
      <th>332</th>
      <td>NOV</td>
      <td>5357929</td>
    </tr>
    <tr>
      <th>333</th>
      <td>NTAP</td>
      <td>2953354</td>
    </tr>
    <tr>
      <th>334</th>
      <td>NFLX</td>
      <td>7314992</td>
    </tr>
    <tr>
      <th>335</th>
      <td>NWL</td>
      <td>3066562</td>
    </tr>
    <tr>
      <th>336</th>
      <td>NEM</td>
      <td>6942454</td>
    </tr>
    <tr>
      <th>337</th>
      <td>NWSA</td>
      <td>2139850</td>
    </tr>
    <tr>
      <th>338</th>
      <td>NWS</td>
      <td>464957</td>
    </tr>
    <tr>
      <th>339</th>
      <td>NEE</td>
      <td>1759660</td>
    </tr>
    <tr>
      <th>340</th>
      <td>NLSN</td>
      <td>3092943</td>
    </tr>
    <tr>
      <th>341</th>
      <td>NKE</td>
      <td>6659204</td>
    </tr>
    <tr>
      <th>342</th>
      <td>NI</td>
      <td>2983684</td>
    </tr>
    <tr>
      <th>343</th>
      <td>NBL</td>
      <td>15553459</td>
    </tr>
    <tr>
      <th>344</th>
      <td>NSC</td>
      <td>1334512</td>
    </tr>
    <tr>
      <th>345</th>
      <td>NTRS</td>
      <td>1105410</td>
    </tr>
    <tr>
      <th>346</th>
      <td>NOC</td>
      <td>772093</td>
    </tr>
    <tr>
      <th>347</th>
      <td>NLOK</td>
      <td>5823178</td>
    </tr>
    <tr>
      <th>348</th>
      <td>NCLH</td>
      <td>35332126</td>
    </tr>
    <tr>
      <th>349</th>
      <td>NRG</td>
      <td>2158990</td>
    </tr>
    <tr>
      <th>350</th>
      <td>NUE</td>
      <td>2002834</td>
    </tr>
    <tr>
      <th>351</th>
      <td>NVDA</td>
      <td>12900231</td>
    </tr>
    <tr>
      <th>352</th>
      <td>NVR</td>
      <td>21490</td>
    </tr>
    <tr>
      <th>353</th>
      <td>ORLY</td>
      <td>518587</td>
    </tr>
    <tr>
      <th>354</th>
      <td>OXY</td>
      <td>24100634</td>
    </tr>
    <tr>
      <th>355</th>
      <td>ODFL</td>
      <td>790445</td>
    </tr>
    <tr>
      <th>356</th>
      <td>OMC</td>
      <td>2015860</td>
    </tr>
    <tr>
      <th>357</th>
      <td>OKE</td>
      <td>4936207</td>
    </tr>
    <tr>
      <th>358</th>
      <td>ORCL</td>
      <td>14605321</td>
    </tr>
    <tr>
      <th>359</th>
      <td>OTIS</td>
      <td>2373989</td>
    </tr>
    <tr>
      <th>360</th>
      <td>PCAR</td>
      <td>1686750</td>
    </tr>
    <tr>
      <th>361</th>
      <td>PKG</td>
      <td>741589</td>
    </tr>
    <tr>
      <th>362</th>
      <td>PH</td>
      <td>888542</td>
    </tr>
    <tr>
      <th>363</th>
      <td>PAYX</td>
      <td>1774731</td>
    </tr>
    <tr>
      <th>364</th>
      <td>PAYC</td>
      <td>477446</td>
    </tr>
    <tr>
      <th>365</th>
      <td>PYPL</td>
      <td>7898167</td>
    </tr>
    <tr>
      <th>366</th>
      <td>PNR</td>
      <td>1144223</td>
    </tr>
    <tr>
      <th>367</th>
      <td>PBCT</td>
      <td>4151017</td>
    </tr>
    <tr>
      <th>368</th>
      <td>PEP</td>
      <td>4166325</td>
    </tr>
    <tr>
      <th>369</th>
      <td>PKI</td>
      <td>887443</td>
    </tr>
    <tr>
      <th>370</th>
      <td>PRGO</td>
      <td>813410</td>
    </tr>
    <tr>
      <th>371</th>
      <td>PFE</td>
      <td>26951110</td>
    </tr>
    <tr>
      <th>372</th>
      <td>PM</td>
      <td>4235000</td>
    </tr>
    <tr>
      <th>373</th>
      <td>PSX</td>
      <td>3326695</td>
    </tr>
    <tr>
      <th>374</th>
      <td>PNW</td>
      <td>895759</td>
    </tr>
    <tr>
      <th>375</th>
      <td>PXD</td>
      <td>1442159</td>
    </tr>
    <tr>
      <th>376</th>
      <td>PNC</td>
      <td>2240121</td>
    </tr>
    <tr>
      <th>377</th>
      <td>PPG</td>
      <td>1411604</td>
    </tr>
    <tr>
      <th>378</th>
      <td>PPL</td>
      <td>4952125</td>
    </tr>
    <tr>
      <th>379</th>
      <td>PFG</td>
      <td>1385382</td>
    </tr>
    <tr>
      <th>380</th>
      <td>PG</td>
      <td>6173351</td>
    </tr>
    <tr>
      <th>381</th>
      <td>PGR</td>
      <td>2337760</td>
    </tr>
    <tr>
      <th>382</th>
      <td>PLD</td>
      <td>2714253</td>
    </tr>
    <tr>
      <th>383</th>
      <td>PRU</td>
      <td>2340267</td>
    </tr>
    <tr>
      <th>384</th>
      <td>PEG</td>
      <td>2194870</td>
    </tr>
    <tr>
      <th>385</th>
      <td>PSA</td>
      <td>754401</td>
    </tr>
    <tr>
      <th>386</th>
      <td>PHM</td>
      <td>2869790</td>
    </tr>
    <tr>
      <th>387</th>
      <td>PVH</td>
      <td>1326890</td>
    </tr>
    <tr>
      <th>388</th>
      <td>QRVO</td>
      <td>1341282</td>
    </tr>
    <tr>
      <th>389</th>
      <td>PWR</td>
      <td>1132495</td>
    </tr>
    <tr>
      <th>390</th>
      <td>QCOM</td>
      <td>9216375</td>
    </tr>
    <tr>
      <th>391</th>
      <td>DGX</td>
      <td>1401823</td>
    </tr>
    <tr>
      <th>392</th>
      <td>RL</td>
      <td>1178804</td>
    </tr>
    <tr>
      <th>393</th>
      <td>RJF</td>
      <td>664971</td>
    </tr>
    <tr>
      <th>394</th>
      <td>RTX</td>
      <td>8575510</td>
    </tr>
    <tr>
      <th>395</th>
      <td>O</td>
      <td>2059893</td>
    </tr>
    <tr>
      <th>396</th>
      <td>REG</td>
      <td>1215310</td>
    </tr>
    <tr>
      <th>397</th>
      <td>REGN</td>
      <td>719498</td>
    </tr>
    <tr>
      <th>398</th>
      <td>RF</td>
      <td>8224365</td>
    </tr>
    <tr>
      <th>399</th>
      <td>RSG</td>
      <td>1062851</td>
    </tr>
    <tr>
      <th>400</th>
      <td>RMD</td>
      <td>600931</td>
    </tr>
    <tr>
      <th>401</th>
      <td>RHI</td>
      <td>849914</td>
    </tr>
    <tr>
      <th>402</th>
      <td>ROK</td>
      <td>589562</td>
    </tr>
    <tr>
      <th>403</th>
      <td>ROL</td>
      <td>995659</td>
    </tr>
    <tr>
      <th>404</th>
      <td>ROP</td>
      <td>479515</td>
    </tr>
    <tr>
      <th>405</th>
      <td>ROST</td>
      <td>2640675</td>
    </tr>
    <tr>
      <th>406</th>
      <td>RCL</td>
      <td>9954550</td>
    </tr>
    <tr>
      <th>407</th>
      <td>SPGI</td>
      <td>831465</td>
    </tr>
    <tr>
      <th>408</th>
      <td>CRM</td>
      <td>7784596</td>
    </tr>
    <tr>
      <th>409</th>
      <td>SBAC</td>
      <td>533848</td>
    </tr>
    <tr>
      <th>410</th>
      <td>SLB</td>
      <td>11933660</td>
    </tr>
    <tr>
      <th>411</th>
      <td>STX</td>
      <td>3152373</td>
    </tr>
    <tr>
      <th>412</th>
      <td>SEE</td>
      <td>1155659</td>
    </tr>
    <tr>
      <th>413</th>
      <td>SRE</td>
      <td>1503079</td>
    </tr>
    <tr>
      <th>414</th>
      <td>NOW</td>
      <td>1622168</td>
    </tr>
    <tr>
      <th>415</th>
      <td>SHW</td>
      <td>447093</td>
    </tr>
    <tr>
      <th>416</th>
      <td>SPG</td>
      <td>5614990</td>
    </tr>
    <tr>
      <th>417</th>
      <td>SWKS</td>
      <td>1804720</td>
    </tr>
    <tr>
      <th>418</th>
      <td>SLG</td>
      <td>1319810</td>
    </tr>
    <tr>
      <th>419</th>
      <td>SNA</td>
      <td>369932</td>
    </tr>
    <tr>
      <th>420</th>
      <td>SO</td>
      <td>3847170</td>
    </tr>
    <tr>
      <th>421</th>
      <td>LUV</td>
      <td>13064340</td>
    </tr>
    <tr>
      <th>422</th>
      <td>SWK</td>
      <td>983971</td>
    </tr>
    <tr>
      <th>423</th>
      <td>SBUX</td>
      <td>7945506</td>
    </tr>
    <tr>
      <th>424</th>
      <td>STT</td>
      <td>2140925</td>
    </tr>
    <tr>
      <th>425</th>
      <td>STE</td>
      <td>452818</td>
    </tr>
    <tr>
      <th>426</th>
      <td>SYK</td>
      <td>1286679</td>
    </tr>
    <tr>
      <th>427</th>
      <td>SIVB</td>
      <td>301884</td>
    </tr>
    <tr>
      <th>428</th>
      <td>SYF</td>
      <td>5332389</td>
    </tr>
    <tr>
      <th>429</th>
      <td>SNPS</td>
      <td>802835</td>
    </tr>
    <tr>
      <th>430</th>
      <td>SYY</td>
      <td>3114123</td>
    </tr>
    <tr>
      <th>431</th>
      <td>TMUS</td>
      <td>4677967</td>
    </tr>
    <tr>
      <th>432</th>
      <td>TROW</td>
      <td>1041884</td>
    </tr>
    <tr>
      <th>433</th>
      <td>TTWO</td>
      <td>1338743</td>
    </tr>
    <tr>
      <th>434</th>
      <td>TPR</td>
      <td>5953525</td>
    </tr>
    <tr>
      <th>435</th>
      <td>TGT</td>
      <td>4037456</td>
    </tr>
    <tr>
      <th>436</th>
      <td>TEL</td>
      <td>1594298</td>
    </tr>
    <tr>
      <th>437</th>
      <td>FTI</td>
      <td>5745059</td>
    </tr>
    <tr>
      <th>438</th>
      <td>TDY</td>
      <td>221445</td>
    </tr>
    <tr>
      <th>439</th>
      <td>TFX</td>
      <td>211229</td>
    </tr>
    <tr>
      <th>440</th>
      <td>TXN</td>
      <td>4303779</td>
    </tr>
    <tr>
      <th>441</th>
      <td>TXT</td>
      <td>1265835</td>
    </tr>
    <tr>
      <th>442</th>
      <td>TMO</td>
      <td>1299000</td>
    </tr>
    <tr>
      <th>443</th>
      <td>TIF</td>
      <td>1519204</td>
    </tr>
    <tr>
      <th>444</th>
      <td>TJX</td>
      <td>7070276</td>
    </tr>
    <tr>
      <th>445</th>
      <td>TSCO</td>
      <td>1214145</td>
    </tr>
    <tr>
      <th>446</th>
      <td>TT</td>
      <td>1276217</td>
    </tr>
    <tr>
      <th>447</th>
      <td>TDG</td>
      <td>426743</td>
    </tr>
    <tr>
      <th>448</th>
      <td>TRV</td>
      <td>1363850</td>
    </tr>
    <tr>
      <th>449</th>
      <td>TFC</td>
      <td>4863020</td>
    </tr>
    <tr>
      <th>450</th>
      <td>TWTR</td>
      <td>19665721</td>
    </tr>
    <tr>
      <th>451</th>
      <td>TYL</td>
      <td>278312</td>
    </tr>
    <tr>
      <th>452</th>
      <td>TSN</td>
      <td>2547410</td>
    </tr>
    <tr>
      <th>453</th>
      <td>UDR</td>
      <td>1745375</td>
    </tr>
    <tr>
      <th>454</th>
      <td>ULTA</td>
      <td>1114664</td>
    </tr>
    <tr>
      <th>455</th>
      <td>USB</td>
      <td>6409329</td>
    </tr>
    <tr>
      <th>456</th>
      <td>UAA</td>
      <td>7565123</td>
    </tr>
    <tr>
      <th>457</th>
      <td>UA</td>
      <td>5276778</td>
    </tr>
    <tr>
      <th>458</th>
      <td>UNP</td>
      <td>2665356</td>
    </tr>
    <tr>
      <th>459</th>
      <td>UAL</td>
      <td>39568028</td>
    </tr>
    <tr>
      <th>460</th>
      <td>UNH</td>
      <td>2779678</td>
    </tr>
    <tr>
      <th>461</th>
      <td>UPS</td>
      <td>4183681</td>
    </tr>
    <tr>
      <th>462</th>
      <td>URI</td>
      <td>829296</td>
    </tr>
    <tr>
      <th>463</th>
      <td>UHS</td>
      <td>679676</td>
    </tr>
    <tr>
      <th>464</th>
      <td>UNM</td>
      <td>2399121</td>
    </tr>
    <tr>
      <th>465</th>
      <td>VFC</td>
      <td>2148553</td>
    </tr>
    <tr>
      <th>466</th>
      <td>VLO</td>
      <td>4266131</td>
    </tr>
    <tr>
      <th>467</th>
      <td>VAR</td>
      <td>1455157</td>
    </tr>
    <tr>
      <th>468</th>
      <td>VTR</td>
      <td>2791212</td>
    </tr>
    <tr>
      <th>469</th>
      <td>VRSN</td>
      <td>693389</td>
    </tr>
    <tr>
      <th>470</th>
      <td>VRSK</td>
      <td>692121</td>
    </tr>
    <tr>
      <th>471</th>
      <td>VZ</td>
      <td>13543309</td>
    </tr>
    <tr>
      <th>472</th>
      <td>VRTX</td>
      <td>1308687</td>
    </tr>
    <tr>
      <th>473</th>
      <td>VIAC</td>
      <td>9633935</td>
    </tr>
    <tr>
      <th>474</th>
      <td>V</td>
      <td>7956393</td>
    </tr>
    <tr>
      <th>475</th>
      <td>VNO</td>
      <td>1864079</td>
    </tr>
    <tr>
      <th>476</th>
      <td>VMC</td>
      <td>913179</td>
    </tr>
    <tr>
      <th>477</th>
      <td>WRB</td>
      <td>691935</td>
    </tr>
    <tr>
      <th>478</th>
      <td>WAB</td>
      <td>1199182</td>
    </tr>
    <tr>
      <th>479</th>
      <td>WMT</td>
      <td>10744546</td>
    </tr>
    <tr>
      <th>480</th>
      <td>WBA</td>
      <td>6900632</td>
    </tr>
    <tr>
      <th>481</th>
      <td>DIS</td>
      <td>10780562</td>
    </tr>
    <tr>
      <th>482</th>
      <td>WM</td>
      <td>1639406</td>
    </tr>
    <tr>
      <th>483</th>
      <td>WAT</td>
      <td>507906</td>
    </tr>
    <tr>
      <th>484</th>
      <td>WEC</td>
      <td>1227321</td>
    </tr>
    <tr>
      <th>485</th>
      <td>WFC</td>
      <td>43366123</td>
    </tr>
    <tr>
      <th>486</th>
      <td>WELL</td>
      <td>2657512</td>
    </tr>
    <tr>
      <th>487</th>
      <td>WST</td>
      <td>516392</td>
    </tr>
    <tr>
      <th>488</th>
      <td>WDC</td>
      <td>5990115</td>
    </tr>
    <tr>
      <th>489</th>
      <td>WU</td>
      <td>4493925</td>
    </tr>
    <tr>
      <th>490</th>
      <td>WRK</td>
      <td>2701745</td>
    </tr>
    <tr>
      <th>491</th>
      <td>WY</td>
      <td>4884995</td>
    </tr>
    <tr>
      <th>492</th>
      <td>WHR</td>
      <td>701637</td>
    </tr>
    <tr>
      <th>493</th>
      <td>WMB</td>
      <td>8631493</td>
    </tr>
    <tr>
      <th>494</th>
      <td>WLTW</td>
      <td>746312</td>
    </tr>
    <tr>
      <th>495</th>
      <td>WYNN</td>
      <td>4588784</td>
    </tr>
    <tr>
      <th>496</th>
      <td>XEL</td>
      <td>2354740</td>
    </tr>
    <tr>
      <th>497</th>
      <td>XRX</td>
      <td>3708725</td>
    </tr>
    <tr>
      <th>498</th>
      <td>XLNX</td>
      <td>2389465</td>
    </tr>
    <tr>
      <th>499</th>
      <td>XYL</td>
      <td>959093</td>
    </tr>
    <tr>
      <th>500</th>
      <td>YUM</td>
      <td>1603792</td>
    </tr>
    <tr>
      <th>501</th>
      <td>ZBRA</td>
      <td>296367</td>
    </tr>
    <tr>
      <th>502</th>
      <td>ZBH</td>
      <td>1114696</td>
    </tr>
    <tr>
      <th>503</th>
      <td>ZION</td>
      <td>1605415</td>
    </tr>
    <tr>
      <th>504</th>
      <td>ZTS</td>
      <td>1490870</td>
    </tr>
  </tbody>
</table>
      </div>




















    {% load static %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous">
    </script>
      <script>window.jQuery ||
      document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')
      </script><script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <script src="{% static 'mommaapp/dashboard.js' %}"></script>
      </main>

{% endblock content %}

